streamlit 					
streamlit_option_menu 				
pathlib 								
matplotlib							
pandas									
numpy
scikit-learn
xgboost						
pillow
opencv-python-headless
easyocr
autocorrect
fuzzywuzzy
itertools
functions