streamlit 					
streamlit_option_menu 				
pathlib 								
matplotlib							
pandas									
numpy
scikit-learn
xgboost						
pillow
opencv
easyocr
autocorrect
fuzzywyzzy
itertools
warnings
functions