streamlit 					
streamlit_option_menu 				
pathlib 								
matplotlib							
pandas									
numpy
sklearn
pickle
xgboost						
pytesseract
PIL
cv2
easyocr
autocorrect
fuzzywyzzy
itertools
warnings
functions